header{
border:5px solid black;
position: relative;

margin: top;

height: 10rem;
width: 100%;
position: fixed;
}

.main{
    
    display: block;
    border: 2px solid black;
    height: 95rem;
    width: 100%;
   
}

.content{
    top:80%;
    position: relative;
    text-align: center;
    backdrop-filter: blur(5px);

   
}


.contentmenu{
    padding: 20px;
    left :80%;
    position: relative;
    margin: -8rem;
   
}
body{
    background-color: gray;
    margin: 0%;
    width: 100%;
}

.menutext{
    display: inline-block;
    padding: 5px;
}


.content{
    border: 2px black solid;
}

#imgpresentation{
    height: 250px;
    width: 200px;
    border-radius: 25%;
}

.part1{
    height: 15rem;
    width: 15rem;
    background-color: antiquewhite;
    position: sticky;
    margin: 0rem -20rem;
}

.pre-content{
    position: fixed;
    top:13%;
    height: 65rem;
    width: 100%;
    background-image: url(./IMG/code-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.post-content{
    position:absolute;
    border: 5px solid black ;
    width: 100%;
    
}


#first-quote{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin: 0rem 5rem;
    padding: 5rem;
    backdrop-filter: blur(2px);
    
}

#first-quote:hover{
    /*transform: rotateX(150deg);*/
    transition: 0.5s;
    font-weight: bolder;
    scale: 1.1;
 
  
    
}



#second-quote{
    font-family: 'Raleway', sans-serif;
    margin: 0rem 15rem;
    padding: 3rem;
    height: 2rem;
    border: 2px solid #000000;
    backdrop-filter: blur(20px);
}

.intro{
    color: white;
}


#java{

    margin: -1.5rem -3rem;
    padding-left: 1rem;

}

#java:hover{
    transform: rotateY(360deg);
    transition: 1s;
}

#golang{
    margin: -2.5rem -3rem;
    padding-left: 0rem;

}

#golang:hover{
    transform: rotateX(360deg);
    transition: 1s;

}


#python{
    margin: -1.5rem -3rem;
    padding-left: 1rem;
}

#python:hover{
    transform: rotateZ(360deg);
    transition: 1s;
}

#frontend{
    margin: -1.5rem -3rem;
    padding-left: 1rem;
}

#frontend:hover{
   scale: 1.2;
   transition: 1s;
}

#backend{
    margin: -3rem -3rem;
    padding-left: 0.75rem;
}

#backend:hover{
   transform:scale3d(-1, 1, 1.7);
 
 
   transition: 1s;
}
.java{
    margin: 0rem 20rem
}


#third-quote{
    font-family: 'Raleway', sans-serif;
    margin: 0rem 20rem;
    padding: 3rem;
    height: 2rem;
    border: 2px solid #000000;
    backdrop-filter: blur(20px);
}

#fourth-quote{
    font-family: 'Raleway', sans-serif;
    margin: 0rem 25rem;
    padding: 3rem;
    height: 2rem;
    border: 2px solid #000000;
    backdrop-filter: blur(20px);
}
#fifth-quote{
    font-family: 'Raleway', sans-serif;
    margin: 0rem 30rem;
    padding: 3rem;
    height: 2rem;
    border: 2px solid #000000;
    backdrop-filter: blur(20px);
}
#sixth-quote{
    font-family: 'Raleway', sans-serif;
    margin: 0rem 35rem;
     padding: 3rem;
     height: 2rem;
     border: 2px solid #000000;
     backdrop-filter: blur(20px);
}

#skilltext{
    margin: -1.5rem 31rem;
    color: rgb(36, 108, 216);
    font-weight: 1000;
}

#Titlesubject{
    margin: -0.5rem;
    width: 2%;
    padding-left: 2rem;
    color: white;
   
}

#Titlesubject:hover{


   
}
#CV{
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
}


#link{
    color: grey;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
}

#link:hover{
    color: white;
    transition: 0.2;
}

.licontent{
    font-family: 'Exo 2', sans-serif;
}
[name="2"]{
   visibility: hidden;
}
[name="3"]{
    visibility: hidden;
 }
 [name="4"]{
    visibility: hidden;
 }
 [name="5"]{
    visibility: hidden;
 }
 [name="6"]{
    visibility: hidden;
 }


 #imgpresentation {
   
    position: relative;
 }


 
/*visibility: hidden;
  
/*transition: 0.2s;*/

@media only screen and (min-width: 1500px) and (max-width: 4000px){
#skilltext{
        
    /*  margin: -5.5rem 31rem
 } */
 margin: -2rem 31rem;
 width: 200%;

}

.pre-content{
    overflow: scroll;
}
}



@media only screen and (min-width: 600px) and (max-width: 1499px){


.pre-content{
   height: 110%;;
}    
.intro{
    font-size: medium;
    width: 200%;
}

#skilltext{
    width: 200%;
}

.logo{
  height: 10rem;
  width: 15rem;
}
header{
    width: 100%;
    height: 100%;
}



#second-quote{
    margin: 0rem 0rem ;
   

}

#third-quote{
    margin: 0rem 0rem ;

}
#fourth-quote{
    
margin: 0rem 0rem ;

}
#python{
}

#fifth-quote{
    margin: 0rem 0rem ;
  
}
#sixth-quote{
    margin: 0rem 0rem ;
 

}

}
@media only screen and (min-width: 228px) and (max-width: 600px){


    .logo{
        height: 10rem;
        width: 15rem;
      }

    .intro{
        font-size: medium;
        width: 200%;
       
        
    }

    #skilltext{
        width: 300%;
    }


    #second-quote{
        margin: 0rem 0rem ;
       
    
    }
    
    #third-quote{
        margin: 0rem 0rem ;
    
    }
    #fourth-quote{
        
    margin: 0rem 0rem ;
    
    }
    #python{
    }
    
    #fifth-quote{
        margin: 0rem 0rem ;
      
    }
    #sixth-quote{
        margin: 0rem 0rem ;
     
    
    }
}




@media only screen and (min-height: 228px) and (max-height: 1024px){

    .main{
        z-index: -2;
    }

    .logo{
        height: 6rem;
        width: 12rem;
      
    }

    header{
        z-index: 3;
        height: 6rem;
          background-color: rgb(71, 71, 68);
    }

    .intro{
        font-size: small;
    }

    #first-quote{
        margin: 0rem -1rem;
        width: 25%;
      
      }

    #second-quote{
       scale: 0.7;
       width: 107%;
       margin: -1rem -4rem;
     }
    #third-quote{
        scale: 0.7;
        width: 107%;
        margin: -1rem -4rem;
     
     }
     #fourth-quote{
         
        scale: 0.7;
        width: 107%;
        margin: -1rem -4rem;
     
     }
     
     #fifth-quote{
         
        scale: 0.7;
        width: 107%;
        margin: -1rem -4rem;
     }
     #sixth-quote{
         
        scale: 0.7;
        width: 107%;
        margin: -1rem -4rem;
     
     }


     #imgpresentation{
        
        height: 250px;
        width: 200px;
       
        
     }

     .contentmenu{
       /*  margin: -7rem -10rem; */
       left: 80%;
        width: 30%;
        
    }
        
     }
    

     .pre-content{
        top: 8%;
     }
    
     #skilltext{
        font-size: large;
     }

     .content{
        height: 30%;
     }

     .post-content{
        top: 200%;
        height: 40%;
        background-color: black;
        opacity: 0.7;
     }

     #link{
        font-size: small;
     }
    #inprogress{
        color: rgb(227, 227, 230);font-family: 'Raleway', sans-serif;
    }
    #inprogress:hover{
        translate: 0% -150%;
        width: 50%;
        transition: 1s;
    }
     
     



@media only screen and (min-height: 1080px) and (max-height: 1300px){

   
    #second-quote{
        margin: 0rem 0rem ;
       
    
    }
    
    #third-quote{
        margin: 0rem 0rem ;
    
    }
    #fourth-quote{
        
    margin: 0rem 0rem ;
    
    }
    #python{
    }
    
    #fifth-quote{
        margin: 0rem 0rem ;
      
    }
    #sixth-quote{
        margin: 0rem 0rem ;
     
    
    }
    #imgpresentation{
        left: -40%;
    }

    .content{
        height: 40rem;
    }
    
    .post-content{
        top: 185%;
      
    }

}

@media only screen and (min-height: 1301px) and (max-height: 1800px){

    .post-content{
        top:250%;
       
        

    }
    .content{
        height:40rem;
        top: 150% ;
    } 


    .pre-content{
        overflow-x: hidden;
        overflow-y: hidden;
    }
  
    body{
        overflow-x: hidden;
    }
    




}